.main {

    background: url(https://skufsi.github.io/Golfarinn/images/background.jpg) no-repeat center center fixed;

}



.header {
    top: 0;
    background: url(https://skufsi.github.io/Golfarinn/images/background.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 80%, transparent 100%);

}

h1 {
    color: white;
    top: 0;
    text-align: center;
    font-size: 60px;
    padding-top: 120px;
    padding-bottom: 100px;
}

h2 {
    color: white;
}

p {
    line-height: 120%;
    color: white;
    font-size: 25px;
    background-color: rgb(123, 169, 147);
    border: 5px solid rgb(168, 212, 192);
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;

    width: 60%;
}

#mainText {
    margin-left: auto;
    margin-right: auto;
}

#videoText {
    padding-top: 50px;
    text-align: center;
}

.imageMain {
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    display: block;
}

.imageFull {
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
}

.image80 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
}