body {
    width: 100%;
    background-color: rgb(42, 71, 71);
    color: white;


}


p {
    line-height: 120%;
    color: white;
    font-size: 25px;
    background-color: rgb(123, 169, 147);
    border: 5px solid rgb(168, 212, 192);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;

}

h2 {
    font-size: 32px;
    text-align: center;

}

img {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    display: block;
    border-radius: 30px;
}