body {
    width: 100%;

}

p {
    width: fit-content;
}

h2 {
    font-size: 32px;
}

img {
    border-radius: 30px;
}

.gridBunadur {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-right: 10px;
}

.bunadurImage1 {
    grid-area: 1 / 1 / 7 / 7;
    text-align: center;
}

.bunadurText1 {
    grid-area: 1 / 7 / 7 / 11;
}

.bunadurImage2 {
    grid-area: 1 / 5 / 7 / 11;
}

.bunadurText2 {
    grid-area: 1 / 1 / 7 / 5;
}